/* .flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.w-full {
  width: 100%;
}

.output {
  width: 400px;
  background: #dadada;
  padding: 4px;
  border-radius: 4px;
}

.me, .them {
  display: flex;
}

.me div::before {
  content: "ME: ";
}

.them div::before {
  content: "THEM: ";
}

.me {
  justify-content: flex-end;
} */

#game-board {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.free-box, .x-box, .o-box {
  padding-top: 33.333%;
}

.free-box:hover {
  background-color: #dbc54f !important;
}

.row-cols-3 > * {
   flex: 0 0 33.333333%;
   max-width: 33.333333%;
}
